@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .vertical-line::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: white;
    left: 50%;
    top: 0;
  }
}
:root {
  --primary-color: #3498db; /* Cool blue for a professional and trustworthy feel */
  --secondary-color: #95a5a6; /* A calm gray for neutral accents */
  --border-color: #7f8c8d; /* A darker shade of gray for borders and subtle outlines */
  --background-color: #000000; /* Black for the background, sleek and modern */
  --highlight-color: #1abc9c; /* A fresh green for highlights and interactive elements */
  --text-color: #ecf0f1;
}

.swiper-button-prev {
  left: 15px;
}
.swiper-button-next {
  right: 15px;
}

.swiper-button-prev,
.swiper-button-next {
  height: 100%;
  top: 20px;
}

.swiper-button-prev:after {
  padding: 6px 6px;
  opacity: 0.3;
}

.swiper-button-next:after {
  padding: 6px 8px;
  opacity: 0.3;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 10px;
  color: white;
  font-weight: 800;
  background-color: black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.swiper-pagination-bullet {
  background-color: grey;
  width: 15px;
  height: 15px;
}

.swiper-scrollbar-drag {
  background-color: grey;
}
